<!-- 
VITTEAU Magdi 12511408
SAIDJ Aghiles 12511222 -->

{% extends "base.html" %}

{% block main_content %}

{% if REQUEST_VARS['acces_refuse'] %}
    <meta http-equiv="refresh" content="2;url=/">
    {% include 'message.html' %}
{% else %}

    <div>
        <h2>Page de classement</h2>
        <table>
            <thead>
                <tr>
                    <th>id joueur</th>
                    <th>Pseudo</th>
                    <th>Nombre parties gagné</th>
                </tr>
            </thead>
            <tbody>
                {% for classement in REQUEST_VARS['classement'] %}
                    <tr>
                        <td>{{ classement.idj }}</td>
                        <td>{{ classement.pseudo }}</td>
                        <td>{{ classement.nb_victoire }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucune donnée disponible.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
