<!-- 
VITTEAU Magdi 12511408
SAIDJ Aghiles 12511222 -->

<footer>

	<div>
		<p>Liens utils</p>
		<ul>
			<li>
				<a href="https://www.univ-lyon1.fr/" title="Site de L'UCBL" target="_blank" rel="noopener noreferrer">
					Université Claude Bernard Lyon 1
				</a>
			</li>
			<li>
				<a href="/" title="Page représentante le plan du site">Plan du site</a>
			</li>
		</ul>
	</div>

	<div>
		<p>Contributeurs à ce projet : </p>
		<ul>
			<li>VITTEAU Magdi</li>
			<li>SAIDJ Aghiles</li>
		</ul>
		<p>année de rélisation 2026</p>
	</div>
	
</footer>