<!-- 
VITTEAU Magdi 12511408
SAIDJ Aghiles 12511222 -->

<header>
	<div>
		{% if SESSION.get('JOUEUR_COURANT') %}
			<a href="/accueil">
				<img src="/BatailleNavale/static/img/logo_BatailleNavale.svg" alt="Logo" width="75px" height="75px">
			</a>
		{% else %}
			<a href="/">
				<img src="/BatailleNavale/static/img/logo_BatailleNavale.svg" alt="Logo" width="75px" height="75px">
			</a>
		{% endif %}
	</div>

	{% include 'menu.html' %}

	
	<a href="https://forge.univ-lyon1.fr/p2511408/projet-bdw" target="_blank"><img src="/BatailleNavale/static/img/gitlab.png" alt="Lien git du projet" width="50px"></a>

	
	<!-- NB : si vous souhaitez également modifier le titre qui apparait 
		dans l'onglet du navigateur (ce qui serait logique !), 
		c'est une métadonnée de la page (dans la balise <head> de index.php).
	 -->	
</header>