<!-- 
VITTEAU Magdi 12511408
SAIDJ Aghiles 12511222 -->

{% extends "base.html" %}

{% block main_content %}
<div id="historique-container">
    <h2>Journal de bord de la session</h2>

    <div class="actions-historique">
        <form method="POST" action="historique">
            <input type="submit" value="Exporter en .txt" name="bouton_export" class="submit-btn">
        </form>
    </div>

    {% if SESSION['HISTORIQUE'] %}
        <ul class="liste-chronologique">
            {% for action in SESSION['HISTORIQUE']|reverse %}
                <li>
                    <span class="heure">[{{ action.date.strftime('%d/%m/%Y %H:%M') }}]</span> 
                    <span class="evenement">{{ action.description }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>L'historique est vide pour le moment.</p>
    {% endif %}
</div>

{% include 'message.html' %}
{% endblock %}