<!-- 
VITTEAU Magdi 12511408
SAIDJ Aghiles 12511222 -->

<nav>
	<ul>
		{% if SESSION.get('JOUEUR_COURANT') %}
		<form method="POST" action="/">
			<li><a href="accueil">Accueil</a></li>
			<li><a href="parties">Parties</a></li>
			<li><a href="classement">Classement</a></li>
			<li><a href="rechercher">Rechercher</a></li>
			<li><a href="historique">Historique</a></li>
			<li><button type="submit" value="Déconnexion" name="bouton_deconnexion" class="submit-btn">Déconnexion</button></li>
		</form>
		{% endif %}
	</ul>
</nav>